<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InformationInTransit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="InformationInTransit.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=COMFORT;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="InformationInTransit.Properties.Settings.AdventureWorksConnectionString" connectionString="Data Source=COMFORT;Initial Catalog=AdventureWorks;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/ProcessLogic.NorthwindModel.csdl|res://*/ProcessLogic.NorthwindModel.ssdl|res://*/ProcessLogic.NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=COMFORT;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AdventureWorksEntities" connectionString="metadata=res://*/ProcessLogic.AdventureWorksModel.csdl|res://*/ProcessLogic.AdventureWorksModel.ssdl|res://*/ProcessLogic.AdventureWorksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=COMFORT;Initial Catalog=AdventureWorks;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <InformationInTransit.Properties.Settings>
      <setting name="InformationInTransit_com_amazon_soap_AmazonSearchService" serializeAs="String">
        <value>http://soap.amazon.com/onca/soap3</value>
      </setting>
      <setting name="InformationInTransit_holyspirit_Lists" serializeAs="String">
        <value>http://holyspirit/_vti_bin/lists.asmx</value>
      </setting>
    </InformationInTransit.Properties.Settings>
  </applicationSettings>
</configuration>