@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Content", "ContentResult") <br />

@Html.ActionLink("FilePath", "FilePathResult") <br />

@Html.ActionLink("RedirectPermanent", "RedirectPermanentResult") <br />

@Html.ActionLink("RedirectToAction", "RedirectToActionResult") <br />