<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chapter04DataGridView.Properties.Settings.PubsConnectionString"
            connectionString="Data Source=COMFORT;Initial Catalog=Pubs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>