<!doctype html>
<html>
<!--
	http://angular-tips.com/blog/2013/08/why-does-angular-dot-js-rock 
	http://jimhoskins.com/2012/12/17/angularjs-and-apply.html
	http://stackoverflow.com/questions/14350946/angular-directive-ng-selected-doesnt-update-model
-->
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
</head>
<body 
	ng-app="app"
	ng-controller="mainController"
	ng-init="orderByOptions=['Actor', 'Relationship', 'Extension']; orderBySelected=orderByOptions[0];"
>
	<div>
		<input type="text" data-ng-model="query" />
		Order By:
		<select
			ng-model="orderBySelected"
			ng-options="orderByOption for orderByOption in orderByOptions"
		>
			{{orderByOption}}
		</select>
	</div>

	<div>
		<ul>
			<li 
				data-ng-repeat="record in aWorldForPeople | filter:query | orderBy:orderBySelected"
			>
				{{ record.Actor }}
				{{ record.Relationship[0].toLowerCase() + record.Relationship.substr(1) + " of "}}
				{{ record.Extension }}
			</li>
		</ul>
	</div>
	<div id="feedBack">
	</div>
	
	<script>
		var app = angular.module('app', []);
		app.controller('mainController', function($scope) {
		
			var request = {};
			var requestJson = JSON.stringify(request);

			$.ajax
			({
				type: "POST",
				contentType: "application/json; charset=utf-8",
				url: "/WordEngineering/AWorldForPeople/AWorldForPeopleWebService.asmx/AWorldForPeopleSelect",
				data: requestJson,
				dataType: "json",
				success: function(data) 
				{
					var resultSet = JSON.parse(data.d);
					
					$scope.$apply(function() {
						$scope.aWorldForPeople = resultSet.Table;
					});
				},
				error: function(xhr)
				{ 
					$("#feedBack").html
					(
						'Status: ' + xhr.status + " | " + 
						'StatusText: ' + xhr.statusText + " | " +
						'ResponseText: ' + xhr.responseText
					);
				} 
			});
		});	
	</script>

</body>
</html>
