h1 {
	color: green;
	text-decoration: underline;
}
p {
	font-size: 25px;
	font-family: 'Trebuchet MS', sans-serif;
}
li {
	list-style-type: decimal; /* square; */
	list-style-image: url(images/bullet.png);
	list-style-position: inside; /* outside */
}
/* Two values in this property list */
span {
	text-shadow: 
		yellow 0 0 3px,
		green 4px 4px 10px;
}
div, p { color: blue } /* Use a comma to separate multiple grouped selectors. */
.blue.red /* All elements with class blue and red (a type of Compound selector) */
