<configuration>

	<!--
		Added on 2013.11.22 [dadeniji]
		http://aspnetresources.com/tools/machineKey
		Validation of viewstate MAC failed. If this application is hosted by a 
		Web Farm or cluster, ensure that |machineKey| configuration specifies 
		the same validationKey and validation algorithm. 
		AutoGenerate cannot be used in a cluster.
    -->	
    <system.web>
		<sessionState timeout="300" />
  <machineKey
   validationKey="73529CFEC81F40A7B18EB79CE5CA41AEE5EE8A7B6E59322618678C8DBAF3BE6E030D9F0F152D07CFFB0F90E19BA6EF06C6DB508D5E6401B637279AE31C8DD735"
   decryptionKey="F8EED897D938AC7966AEEA8C0982A9D1FAE85FA99B73BD925166EDDDD377914A"
   validation="SHA1"
   decryption="AES" />
    </system.web>

	
    <system.web>
        <customErrors mode="Off"/>
		<pages
   enableSessionState="true"
   enableEventValidation="false"
   viewStateEncryptionMode="Never"
   validateRequest="true"
   enableViewState="true"
   />		
    </system.web>

	
    <appSettings>
    
        <add key="oleDBConnection.ConnectionString.Bak"
             value="Provider=SQLOLEDB.1;Server=ephsqldb;initial Catalog=remindme;Integrated Security=SSPI;"/>

        <add key="oleDBConnection.ConnectionString"
             value="Provider=SQLOLEDB.1;Server=ephsqldb;initial Catalog=remindme;User Id=ephwebusersql; password='hAwUgEhuspeha7HAfReS'"/>             
			 
        <add
   key="SQLGetReports"
   value="dbo.usp_GetReports"
  />                       

		<add
   key="SQLGetMSReportServicesReports"
   value="dbo.usp_GetMSReportServicesReports"
  />
		
        <add
   key="SQLGetReportInfo"
            value="select * from dbo.v_reports where reportID = ?"
   />                                                                                                  
                          
        <add key="SQLGetReportParameter"
             value="exec dbo.usp_GetReportParameters ?"
         /> 
   
				  
        <add key="SQLQueryTimeoutInSecs"
    value="10800"
    />                        
    
          
    </appSettings>

          
    
    <connectionStrings>

        <add name="remindme.Bak"
    connectionString="Server=ephsqldb;initial Catalog=remindme;Provider=SQLOLEDB.1;Integrated Security=SSPI; "
    />
	
        <add name="remindme"
             connectionString="Server=ephsqldb;initial Catalog=remindme;Provider=SQLOLEDB;User Id=ephwebusersql;password='hAwUgEhuspeha7HAfReS' "
             providerName="System.Data.OleDb"
             />                                

		<add
   name="ADConnectionStringEphraimtech"
   connectionString="LDAP://ephraimtech.com/CN=Users,DC=ephraimtech,DC=com"

   />			 
    
    </connectionStrings>    
		 
		                 
    <system.web>    
    
      <identity impersonate="false" />    
    
	
      <!--
		Keep session info for 3 days 
		Modified by ephraimtech\dadeniji on 2009-08
		-->
		
	<!--
	
      <sessionState 
		mode="SQLServer"
		allowCustomSqlDatabase="true"	
		sqlConnectionString="Integrated Security=SSPI; data source=ephdb; initial catalog=ASPState;"
		timeout="4320"
		/>
	-->					


      <!-- User's authentication is good for 240 minutes -->      
      <authentication mode="Forms">
        <forms name=".remindME"
               loginUrl="Login.aspx"
               timeout="240"
   />
      </authentication>       
       
       
       
        <trace
         enabled="true"
         requestLimit="10"
         pageOutput="false"
         traceMode="SortByTime"
         localOnly="false"
  />        	
        

        <httpRuntime
              executionTimeout="1200"
              maxRequestLength="40960"
              useFullyQualifiedRedirectUrl="false"
              minFreeThreads="8"
              minLocalRequestFreeThreads="4"
              appRequestQueueLimit="100" />
			  
		<compilation debug="true">			  

			<assemblies>
		    </assemblies>
			
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>

			
		</compilation>	

	    <httpHandlers>
	        <remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"   />
	    </httpHandlers>		
		
		<membership
   defaultProvider="MyADMembershipProviderEphraimtech"
   >
			
		  <providers>
		    <clear/>
			<add
      name="MyADMembershipProviderEphraimtech"
      type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
      connectionStringName="ADConnectionStringEphraimtech"
      applicationName="/"
      />
		  </providers>
		  
		    
		 </membership>	   
		 
	    <authorization>
	      <allow roles="BUILTIN\Domain Users" />	      
	      <allow roles="BUILTIN\EphWebApplicationUsers" />	      		  
	      <deny users="?" />
	     </authorization>
	

	

	<!--
		Be sure to add reference of the ReportViewer to your web app, and note that your 
		ReportViewer web server control has registered an HTTP handler in the web.config file. 
		Your web.config file should have the following string:
		http://www.codeproject.com/aspnet/ReportViewer.asp
	-->
	


                    
   </system.web>   

   
   <location path="Logoff.aspx">
     
        <system.web>    
           
           <authorization>
                 <allow users="?" /> 
           </authorization>
          
       </system.web>
   
   </location>

   
   
      

	 <system.webServer>
	  <security>
	   <requestFiltering>
		<verbs
     allowUnlisted="false"
     >
		 <add verb="GET" allowed="true" />
		 <add verb="POST" allowed="true" />		 
		</verbs>
	   </requestFiltering>
	  </security>
	 </system.webServer>

		

	   
</configuration>
