h1 {
  font-size: 60px;
  text-align: center;
}

html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  /* font-family: placeholder: this should be the rest of the output you got from Google fonts */
}

p {
	border: 1px solid black;	
	color: red;
	font-size: 16px;    
	line-height: 2;
	letter-spacing: 1px;  
	width: 500px;  
}

p,li,h1 { /* Multiple elements selector. */
  color: red;
}
