CREATE TABLE BibleBook
(
	BookID int NOT NULL,
	BookTitle varchar(50) NOT NULL
)
INSERT INTO BibleBook (BookID, BookTitle) VALUES (1, 'Genesis')
INSERT INTO BibleBook (BookID, BookTitle) VALUES (2, 'Exodus')
INSERT INTO BibleBook (BookID, BookTitle) VALUES (3, 'Leviticus')
