<html>
<!--
	2014-05-07T02:23:00 Part of the IO of a statesman.
	2014-05-07 http://viralpatel.net/blogs/angularjs-service-factory-tutorial/
	2014-05-07T18:41:00 w3schools.com/tags/tag_legend.asp
-->
	<head>
		<title>Contact Maintenance</title>
	</head>
	<body>
		<div ng-app="app">
			<div ng-controller="ContactController">
				<form>
					<fieldset>
						<legend>Personalia:</legend>
						<table border="0">
							<tbody>
								<tr>
									<td><label for="currentContact.firstName">First Name:</label><td>
									<td><input type="text" ng-model="currentContact.firstName"/></td>
								</tr>
								<tr>
									<td><label for="currentContact.lastName">Last Name:</label><td>
									<td><input type="text" ng-model="currentContact.lastName"/></td>
								</tr>
								<tr>
									<td><label for="currentContact.otherName">Other Name:</label><td>
									<td><input type="text" ng-model="currentContact.otherName"/></td>
								</tr>
								<tr>
									<td><label for="currentContact.title">Title:</label><td>
									<td><input type="text" ng-model="currentContact.title"/></td>
								</tr>
								<tr>
									<td><label for="currentContact.company">Company:</label><td>
									<td><input type="text" ng-model="currentContact.company"/></td>
								</tr>
								<tr>
									<td><label for="currentContact.commentary">Commentary:</label><td>
									<td><input type="text" ng-model="currentContact.commentary"/></td>
								</tr>
								<tr>
									<td><label for="currentContact.dated">Dated:</label><td>
									<td><input type="date" ng-model="currentContact.dated"/></td>
								</tr>
								<tr>
									<td><label for="currentContact.sequenceOrderId">SequenceOrderId:</label><td>
									<td><input type="text" ng-model="currentContact.sequenceOrderId"/></td>
								</tr>
								<tr>
									<td align="center" colspan="2"><button ng-click="saveContact()">Save</button></td>
								</tr>
							</tbody>
						</table>
					</fieldset>		
				</form>
			<table>
			<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Other Name</th>
				<th>Title</th>
				<th>Company</th>
				<th>Commentary</th>
				<th>Dated</th>
				<th>SequenceOrderId</th>				
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="contact in contacts">
				<td>{{ contact.firstName }}</td>
				<td>{{ contact.lastName }}</td>
				<td>{{ contact.otherName }}</td>
				<td>{{ contact.title }}</td>
				<td>{{ contact.company }}</td>
				<td>{{ contact.commentary }}</td>
				<td>{{ contact.dated }}</td>
				<td>{{ contact.sequenceOrderId }}</td>
				<td>
					<a  href="#" ng-click="edit(contact.sequenceOrderId)">edit</a> |
					<a href="#" ng-click="delete(contact.sequenceOrderId)">delete</a>
				</td>
			 </tr>
			</tbody>
			</table>   
			</div>
		</div>	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>		
		<script>
			var module = angular.module('app', []);
					 
			module.service('ContactService', function () {
				//to create unique contact id
				var primaryKey = 1;
						 
				//contacts array to hold list of all contacts
				var contacts = [{
					'firstName': 'John',
					'lastName': 'Doe',
					'otherName': 'Larry',
					'title': 'Software Engineer',
					'company':'Wiener',
					'commentary':'I am with you.',
					'dated': new Date().toISOString(),
					'sequenceOrderId': 0
				}];
						 
				//save method create a new contact if not already exists
				//else update the existing object
				this.save = function (contact) {
					if (contact.sequenceOrderId == null) {
						//if this is new contact, add it in contacts array
						contact.sequenceOrderId = primaryKey++;
						contacts.push(contact);
					} else {
						//for existing contact, find this contact using id
						//and update it.
						for (i in contacts) {
							if (contacts[i].sequenceOrderId == contact.sequenceOrderId) {
								contacts[i] = contact;
							}
						}
					}
			 
				}
			 
				//simply search contacts list for given id
				//and returns the contact object if found
				this.get = function (id) {
					for (i in contacts) {
						if (contacts[i].sequenceOrderId == id) {
							return contacts[i];
						}
					}
			 
				}
				 
				//iterate through contacts list and delete
				//contact if found
				this.delete = function (id) {
					for (i in contacts) {
						if (contacts[i].sequenceOrderId == id) {
							contacts.splice(i, 1);
						}
					}
				}
			 
				//simply returns the contacts list
				this.list = function () {
					return contacts;
				}
			});
					 
			module.controller('ContactController', function ($scope, ContactService) {
					 
				$scope.contacts = ContactService.list();
			 
				$scope.saveContact = function () {
					ContactService.save($scope.currentContact);
					$scope.currentContact = {};
				}
			 
				$scope.delete = function (id) {
			 
					ContactService.delete(id);
					if ($scope.currentContact.sequenceOrderId == id) $scope.currentContact = {};
				}
	 
				$scope.edit = function (id) {
					$scope.currentContact = angular.copy(ContactService.get(id));
				}
			})
		</script>
	</body>	
</html>
