/*
	html, body{
	  height: 100%;
	  width: 100%;
	}
	textarea{ //viewport
		height: 65vh;
		width: 90vw;
	}
*/
body {
	/*background-color: #FF9500; */
	border: 5px solid black;
	margin: 0 auto;
	padding: 0 20px 20px 20px;  
	/* width: 600px; */
}

.focus {
  background-color: #ff00ff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

/* div inside a div, border. */
/*
div > div {
	border: 1px solid #ccc;
} 
*/
/*
	2020-03-23	https://webdesign.tutsplus.com/articles/new-css-is-for-easy-element-targeting--cms-34223
*/
:is(div) :is(div) {
    border: 1px solid #ccc;
}

html {
	background-color: #00539F;
}

table {
   border: 1px solid black;
   border-spacing: 5px;
   border-collapse: separate;
   /* width:100%; */ 
}

th, td { 
	padding:5px 10px; border:#4e95f4 1px solid;
}

/*  Define the background color for all the ODD background rows  */
tr:nth-child(odd) { 
	background: #b8d1f3;
}

/*  Define the background color for all the EVEN background rows  */
tr:nth-child(even) {
	background: #dae5f4;
}

#resultSetSQLStatement {background:black; color:lightblue;}

input:valid { color: green; }
input:invalid { color: red; }