/*
	html, body{
	  height: 100%;
	  width: 100%;
	}
	textarea{ //viewport
		height: 65vh;
		width: 90vw;
	}
*/
/*
body {
	border: 5px solid black;
	margin: 0 auto;
	padding: 0 20px 20px 20px;  
}
*/

.focus {
  background-color: #ff00ff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

input:valid { color: green; }
input:invalid { color: red; }

:is(div) :is(div) {
    border: 1px solid #ccc;
}

html {
	background-color: #00539F;
}

table {
   border: 1px solid black;
   border-spacing: 5px;
   border-collapse: separate;
}

th, td { 
	padding:5px 10px; border:#4e95f4 1px solid;
}

tr:nth-child(odd) { 
	background: #b8d1f3;
}

tr:nth-child(even) {
	background: #dae5f4;
}

h1, h2, h3, h4, h5, h6 {text-transform: capitalize;}

#resultSetSQLStatement {background:black; color:lightblue;}
*/